/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Start Global Rules */
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
}
* {
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background-color: transparent;
}
html::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5rem;
}
body {
    background-color: var(--bg);
}
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    text-align: center;
}
section {
    padding: 2rem 7%;
}
.heading {
    font-size: 4.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
}
.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}
/* End Globale Rules */
/* Start Header Section */
.header {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img {
    height: 6rem;
}
.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: white;
}
.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}
.header .icons div {
    font-size: 2.5rem;
    color: white;
    margin-left: 2rem;
    cursor: pointer;
}
.header .icons div:hover {
    color: var(--main-color);
}
.header #menu {
    display: none;
}
.header .serach-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .serach-form.active{
    transform: scaleY(1);
}
.header .serach-form input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .serach-form label {
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .serach-form label:hover {
    color: var(--main-color);
}
.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    height: calc(100vh - 9.6rem);
    background-color: #fff;
    padding: 0 1.5rem;
}
.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container .cart-item {
    margin: 1.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}
.header .cart-items-container .cart-item img {
    height: 7rem;
}
.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price {
    color: var(--main-color);
    font-size: 1.5rem;
}
.header .cart-items-container .btn {
    width: 100%;
}
/* End Header Section */

/* Start Home Section Style */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../images/home-img.jpeg');
    background-size: cover;
    background-position: center;
}
.home .content {
    max-width: 60rem;
}
.home .content h3 {
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
}
.home .content p{
    font-size: 2rem;
    color: #eee;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
}
/* End Home Section Style */

/* Start About Section */
.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    flex-wrap: wrap;
}
.about .row .image {
    flex: 1 1 45rem;
}
.about .row .image img {
    max-width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
}
/* End About Section */

/* Start Menu Section */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
    gap: 1.5rem;
}
.menu .box-container .box {
    border: var(--border);
    padding: 5rem;
    text-align: center;
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3 {
    color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
}
.menu .box-container .box .price {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem 0;
}
.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
}
.menu .box-container .box:hover {
    background-color: #fff;
}
.menu .box-container .box:hover > * {
    color: var(--black);
} 
/* End Menu Section */
/* Start Products Section */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
    gap: 1.5rem;
}
.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
    margin: 0.3rem;
}
.products .box-container .box .icons a:hover {
    background-color: var(--main-color);
}
.products .box-container .box .image {
    padding: 2.5rem 0;
}
.products .box-container .box .image img {
    height: 25rem;
}
.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #fff;
}
.products .box-container .box .content .stars {
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: #fff;
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: line-through;
}
/* End Products Section */
/* Start Review Section */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
    gap: 1.5rem;
}
.review .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 3rem 2rem; 
}

.review .box-container .box p {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.6;
    padding: 2rem 0;
    color: #ccc;
}
.review .box-container .box .user {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i {
    color: var(--main-color);
    font-size: 1.5rem;
}
/* End Review Sectino */
/* Start Contact Section */
.contact .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--black);
    gap: 1rem;
}
.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: var(--border);
    background-color: var(--black);

}
.contact .row form .inputBox span {
    font-size: 2rem;
    color: #fff;
    padding-left: 1.5rem;
}
.contact .row form .inputBox input {
    width: 100%;
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: none;
    color: #fff;
    background: none;
}
/* End Contact Section */

/* Start Blogs Section */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
    gap: 1.5rem;
}
.blogs .box-container .box {
    color: #fff;
    border: var(--border);
}
.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
.blogs .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}
.blogs .box-container .box .content {
    padding: 2rem;
}
.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
.blogs .box-container .box .content span {
    display: block;
    color: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
}
.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
}
/* End Blogs Section */

/* start footer section */
footer {
    background-color: var(--black);
    text-align: center;
}
footer .shar {
    padding: 1rem 0;
}
footer .shar a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border: var(--border);
    color: #fff;
    margin: 0.3rem;
    font-size: 2rem;
    border-radius: 50%;
}
footer .shar a:hover {
    background-color: var(--main-color);
}
footer .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
}
footer .links a{
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    padding: 0.7rem 1rem;
}
footer .links a:hover {
    background-color: var(--main-color);
}
footer .credit {
    font-size: 2rem;
    font-weight: lighter;
    color: #fff;
    padding: 2rem 0;
}
footer .credit span {
    color: var(--main-color);
}
/* end footer section */

































/* Start Media Queries */
@media (max-width: 991px){
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
   
}
@media (max-width:767px) {
    .header #menu {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: calc(100vh - 9.6rem);
        background-color: #fff;
        
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
        color: var(--black);
    }
    .header .serach-form {
        width: 90%;
        right: 2rem;
        
    }
    .home {
        background-position: left;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5 rem;
    }
    .home .content p {
        font-size: 1.5 rem;
    }
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}
/* End Media Queries */